.charactersContainer{

    display: flex;
    padding:10px;
    flex-wrap: wrap;
     justify-content: space-between;
     
}
/* .characterCard{

    width:30%;
    background-color: aqua;
    margin-top:20px;
    min-height:150px;
} */

/* .characterCard__image{

    width:100%;
} */

.MuiCard-root{

    background: #cec6c6;
}